body {
    font-family: 'Open Sans', sans-serif;
}

.mother {
    text-align: center;
    background-image: url('../images/banner.png');
    height: 600px;
    width: 1200px;
    margin: 0 auto;

}

.first {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding: 100px 0px 0px 0px;
}

.second {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.any {
    text-align: center;
}

.third{
    color: #F00;
    font-family: Inter;
    font-size: 68px;
    font-weight: 700;
}

.fourth{
    color: #F00;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}

.fifth{
    color: #070211;
    font-family: Inter;
    font-size: 38px;
    font-weight: 700;
}


.my{
    max-width: 700;
    margin: 0 auto;
}


    
    
